.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 1em
    /* margin-left: 2em */
  }
  
  .animal {
      flex-basis: 22%;
      margin-right: .5em;
      margin-bottom: .5em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  #root {
    margin-left: 2em
  }


.animalForm { 
    margin: 1em;
 }

 fieldset {
     margin-bottom: 1em;
 }