.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .customer {
    flex-basis: 22%;
    margin-top: 1em;
    margin-right: .5em;
    padding-left: 1em;
    border: 1px solid goldenrod;
  }