.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .employee {
      flex-basis: 22%;
      margin-top: 1em;
      margin-right: .5em;
      padding-left: 1em;
      padding-bottom: 1em;
      border: 1px solid goldenrod;
  }